@media (max-width:1125px) {
    .job-con{
        height: 26rem; 
    }
}
@media (max-width:1035px) {
    .job-con{
        height: 28rem; 
    }
}
@media (max-width:953px) {
    .job-con{
        height: 30rem; 
    }
}
@media (max-width:861px) {
    .job-con{
        height: 32rem; 
    }
}
@media (max-width:781px) {
    .job-list-grid-con{
        display: flex;
        flex-direction: column;
    }
    .job-con{
        height: 24rem; 
    }
}
@media (max-width:619px) {
    .job-section{
        margin-left: 0.5rem ;
        margin-right: 0.5rem;
      }
}
@media (max-width:667px) {
    .img-profile-icon-con, .nav-con > ul{
        display: none;
    }
    .mobile-icon-con{
        display: block;
    }
    .nav-con{
        box-shadow: none;
    }
}
@media (max-width:569px) {
    .job-section{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
}
@media (max-width:397px) {
    .job-con{
        height: 26rem; 
    }
}
@media (max-width:357px) {
    .job-con{
        height: 28rem; 
    }
}
@media (max-width:321px) {
    .job-con{
        height: 30rem; 
    }
}